# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Virtual environment
venv/
.env

# Django specific
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
static/
*/migrations/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# Windows
Thumbs.db
